/* AuthComponent.css */
.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 90%;
    width: 100%;
    background-color: #ebebeb;
}

.auth-container {
    max-width: 300px;
    margin-top: 20px;
    padding: 20px 20px 20px 20px;
    height: fit-content;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
}

.auth-container .auth-form {
    width: calc(100%-20px);
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.auth-container .form-control {
    margin-bottom: 10px;
}

.auth-container label {
    font-weight: bold;
}

.auth-container p {
    color: red;
}

.auth-container input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 3px 50px 10px 0px;


    border: 1px solid #ccc;
    border-radius: 4px;
}


.container .auth-container .auth-form .btnSection {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* Adaugă un spațiu între buton și restul conținutului */
}

.container .auth-container .auth-form button {
    padding: 10px 20px 10px 20px;
    width: fit-content;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container .auth-container .auth-form p {
    margin: 0px 0px 10px 0px;
}

.auth-container button:hover {
    background-color: #0056b3;
}

.auth-container .toggle-mode {
    font-size: 14px;
    cursor: pointer;
    color: #007bff;
}