.console-main {
    height: 100%;
}

.tab-container {
    height: 100%;
}

.consoleBar {
    list-style-type: none;
    margin: 0;
    padding: 5px 5px 5px 5px;
    background: radial-gradient(circle at 80% center,
            rgb(44, 8, 18) 0%,
            #1F2836 100%);
    /* background-color: #111827; */
    height: 37px;
}

.consoleBar::after {
    content: '';
    display: table;
    clear: both;
}

.consoleBar li {
    margin-right: 5px;
    float: left;
    cursor: pointer;
    padding: 2px 10px 2px 10px;
    border-bottom: 2px solid transparent;
    color: #ffffff;
    transition: border-bottom-color 0.3s ease;


}

.consoleBar li:hover {
    border-bottom-color: #007bff;
}

.consoleBar .react-tabs__tab--selected {
    /* background-color: antiquewhite; */

    color: #000000;
    background-color: #ffffff;
    margin-right: 5px;
    float: left;
    cursor: pointer;
    padding: 2px 10px 2px 10px;
    border-bottom: 2px solid transparent;
    border-radius: 5px 5px 5px 5px;
    transition: border-bottom-color 0.3s ease;
}

/* .react-tabs__tab-panel--selected {
    height: calc(550px);
    background-color: aquamarine;
} */

.consoleBar h2 {
    margin: 0;
    height: 10%;
}

.tab-container .console {
    padding: 5px;
    background-color: #ffffff;
    height: calc(100%-50px);
}


.console-container {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    overflow-y: auto;
    height: fit-content;
    max-height: 75vh;
}

.consoleError {
    color: #dc3545;
}

/* Style pentru butonul de curățare a consolei */
.console .clearConsoleButton {
    background-color: red;
    border: none;
    cursor: pointer;
    color: black;
}

.console .clearConsoleButton:hover {
    background-color: rgb(255, 183, 183);
}


.objectViewer .addButton {
    margin-top: 5px;
    margin-left: 5px;
    color: #111827;
    background-color: #007bff;

}

.objectViewer .addButton:hover {

    background-color: #46a0ff;

}

.objectViewer p {
    padding-left: 5px;
}