.explorePage {
    width: 100%;
    min-height: 90%;
    height: fit-content;
    /* background-color: #E0ECFE; */
    background: linear-gradient(rgb(169, 232, 245) 0%, rgba(251, 251, 251, 0.1) 100%), linear-gradient(90deg, #52c0ff, #8d5acd);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explorePage .info {

    background-color: rgb(255, 225, 200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px 0px;
    height: fit-content;
    width: 90%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 4px;
}

.explorePage .info h1 {
    margin: 0;
}

.explorePage .levelContainer {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgb(12, 132, 230);
    border-radius: 5px;
    height: 30px;
    width: 80px;
    padding: 2px;
    margin: 0;
}

.explorePage .searchBar {
    background-color: #35588e;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    width: 90%;
    padding: 10px;
}

.explorePage input[type="text"] {
    width: 50%;
    height: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
    background-color: #ebebff;

}


.explorePage button {
    padding: 5px;
    margin-left: 20px;
    width: fit-content;

    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.explorePage button:hover {
    background-color: #0056b3;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    /* Afișează cât mai multe coloane posibil, fiecare de 350px, dar nu mai mici de 1fr */
    gap: 20px;
    /* Spațiul între proiecte */
    justify-items: center;
    /* Centrare pe axa orizontală */
}