.IDE {
    width: 100vw;
    height: 100vh;
    background-color: #24252A;
    padding: 0px;
}

.IDE .mainContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 95%;
    overflow: auto;
}

.IDE .column1 {
    flex: 1;
    text-align: left;
    width: 100%;
    height: 100%;

}

.IDE .column2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 100%;

}

.IDE .projectDetailsBar {
    display: flex;
    width: 100%;
    height: 5%;
    align-items: center;

    background: radial-gradient(circle at 20% center,
            rgb(44, 8, 18) 0%,
            #1F2836 100%);
    box-shadow: rgba(0, 0, 0, 0.5) 0px -50px 36px -28px inset;

    /* background-color: #1F2836; */
}

.IDE .leftSection {
    flex: 1;
    /* Asta va face ca această secțiune să ocupe spațiul disponibil */
}

.IDE .projectName {
    padding: 2px;
    margin-left: 10px;
    color: beige;
}

.rightSection {
    display: flex;
    justify-content: flex-end;
    /* Aliniere butoane la dreapta */
}

.IDE .projectDetailsBar ul {
    list-style-type: none;
    padding-right: 5px;
}

.IDE .projectDetailsBar li {
    display: inline;
    border: 1px solid #5f5f5f;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
}

.IDE .projectDetailsBar li a {
    text-decoration: none;

    font-size: 15px;
    align-items: center;
    padding: 5px 20px 5px 20px;
    width: 100px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 100%;
}

.IDE .btn {
    align-items: center;
    font-size: 15px;
    padding: 5px 7px 5px 7px;
    width: 100px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.IDE button {
    padding: 5px 10px 5px 10px;
    margin-right: 1px;
    font-size: 15px;
    width: fit-content;
    min-width: 55px;
    background-color: inherit;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.IDE button:hover {
    background-color: #364051;
}


/* Change the link color to #111 (black) on hover */
.IDE .projectDetailsBar li:hover {
    background-color: rgb(152, 152, 152);
    color: white;
    height: 100%;
}

.IDE .threeContainer {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

.IDE .ref {
    width: 100%;
    height: 100%;
}

.IDE .icon {
    width: 17px;
    height: 17px;
    cursor: pointer;
}