.projectPageContainer {
    height: fit-content;
    min-height: 90vh;
    width: 100%;
    background-color: #E0ECFE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectPageContainer .projectPageInfo {
    align-items: left;
    width: 50%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    margin-top: 20px;
    margin-bottom: 50px;
    padding: 50px;
    background-color: #ffffff;
}

.projectPageContainer .description {
    width: calc(100%-20px);
    height: fit-content;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;

    /* Setează margin-right pe "auto" pentru a alinia la dreapta */
}

.projectPageContainer .carouselContainer {
    height: 640px;
    /* background-color: antiquewhite; */
    width: 100%;
}

.projectPageContainer label {
    padding: 5px 0 5px 0;
    font-weight: bold;
    font-size: 17px;

}

.projectPageContainer .info {
    margin-bottom: 20px;
}

.projectPageContainer .btnContainer {
    justify-content: right;
    display: flex;
}

.projectPageContainer button {
    padding: 5px;
    font-size: 15px;
    width: fit-content;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
}

.projectPageContainer button:hover {
    background-color: #0056b3;
}